<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption" (click)="onClose()">Signup</span>
  </a>
  <a mat-list-item routerLink="/login">
    <mat-icon>input</mat-icon>
    <span class="nav-caption" (click)="onClose()">Login</span>
  </a>
  <a mat-list-item routerLink="/workout">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption" (click)="onClose()">Workout</span>
  </a>
  <mat-list-item>
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption" (click)="onClose()">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
